body {
    text-align: center;
    background-color: rgb(255, 158, 46);
}

table {
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
}

#Norris1 {
    margin-top: 100px;
}
p {
    color: rgb(0, 0, 0);
    font-size: larger; /* change la taille de la police */
} 
#gender {
    margin-left: 50%;
    margin-right: 25%;
}

.Titres {
    text-align: center;
    font-size: 52px;
}

.Sous-titres{
    font-size: 48px;
}

input.bouton {
    text-align: right;
}
.titre{
    text-align: center;
    color: black;
    font-weight: bold;
    border-bottom-style: dotted;
    border-color:rgb(0, 0, 0);
}
.pave{
    text-align: center;
    color: black;
    font-weight: bold;
    border-style: solid;
    border-width: 10 10px;
    background-color:rgb(255, 156, 75);
}
.center{
    align-content:center;
    text-align:center;
}